<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/images/modernbank-jumbotron.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500" loading="eager">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Revolutionizing Banking for the Digital Age</h1>
            <p class="lead">ModernBank offers a seamless, secure, and user-friendly banking experience. With cutting-edge technology and personalized financial tools, we empower you to manage your money anytime, anywhere. Welcome to the future of banking.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/auth/signin">Sign In</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/auth/signup">Sign Up</button>
            </div>
        </div>
    </div>
</div>