<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ModernBank</a>
    </div>
</nav>
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">ModernBank access to teller application</h1>
            <p class="col-lg-10 fs-4">Please sign-in using your credentials to access teller application features. If you do not have an active credentials and think you should, please contact with our technical support.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                    <input formControlName="user" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">User</label>
                </div>
                <div class="form-floating mb-3">
                    <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input formControlName="rememberMe" type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>